<nav [ngClass]="{active: navActive}">
  <div
    class="rounded-[inherit] py-4 w-full h-full flex flex-col items-center justify-center gap-1"
  >
    @for (route of navRoutes; track $index) {
    <a
      class="navLink"
      [routerLink]="route.path"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: route.name === 'home' }"
      [style]="{ '--accent': route.accent }"
    >
      <span class="material-symbols-rounded">{{ route.icon }}</span>
      <span class="textInfo">{{ route.name }}</span>
    </a>
    }
  </div>
</nav>
<button class="navBtn" (click)="toggleNav()">
  <span class="material-symbols-rounded">
    @if (navActive) {
        {{ "close" }}
    } @else {
        {{ "menu_open" }}

     }
  </span>
</button>
