<nav class="glassmorph" [ngClass]="{active: navActive}">
  
    @for (route of navRoutes; track $index) {
    <a
      class="nav-link"
      [routerLink]="route.path"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: route.name === 'home' }"
      [style]="{ '--accent': route.accent }"
    >
      <span class="icon material-symbols-rounded">{{ route.icon }}</span>
      <span class="text-info">{{ route.name }}</span>
    </a>
    }
</nav>
<button class="glassmorph navBtn" (click)="toggleNav()">
  <span class="material-symbols-rounded">
    @if (navActive) {
        {{ "close" }}
    } @else {
        {{ "menu_open" }}

     }
  </span>
</button>
