.titantron {
  font-family: "Orbitron", sans-serif;
  font-weight: 600;
  letter-spacing: 6px;
  font-size: clamp(3rem, 2.2105rem + 4.2105vw, 6rem) !important;
  @apply flex flex-col w-fit justify-center text-5xl xl:text-8xl gap-3 lg:gap-8;
}
.titantron span {
  display: block;
}
.gradient {
  text-transform: uppercase;
  display: block;
  background-image: linear-gradient(to left, #6a85b6 50%, #bac8e0 100%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  width: fit-content;
  font-family: inherit;
}
.profImg {
  position: relative;
}
.profImg img {
  margin: auto;
  -webkit-user-drag: none;
  user-select: none;
  width: 320px;
  height: 320px;
  mask-image: url("/assets/masks/island-mask.svg");
  animation: float 3s infinite alternate ease-in-out;
}
.ext-link {
  transition-property: color;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
  @apply font-normal text-slate-200 hover:text-emerald-500;
}
.tool-tip-link {
  @apply relative font-normal;
}
.tool-tip-link::before {
  content: attr(data-tooltip);
  transform: translateY(-100%);
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
  @apply text-xs opacity-0 invisible absolute left-0 bg-slate-300 text-slate-950 whitespace-nowrap px-3 py-1 font-light rounded-md;
}
.tool-tip-link:hover:before {
  @apply opacity-100 visible;
}
@keyframes float {
  from {
    transform: translate(0%, -10px);
  }
  to {
    transform: translate(0%, 10px);
  }
}
