<div class="grid grid-cols-1 md:grid-cols-3">
  <div class="flex flex-col col-span-full md:col-span-2">
    <h1 class="titantron mt-10 md:ml-8">
      <span>Hello I'm</span><span class="gradient">Ruturaj</span>
    </h1>
    <h5 class="font-extralight text-lg lg:text-2xl mt-10">
      <span class="brck">{{ "@Intro" }}</span
      ><span class="str">{{ "`MyIntro`" }}</span
      ><span class="brck">{{ "{" }}</span>
    </h5>
      <p class="pl-5 font-thin text-slate-300 text-base lg:text-lg">
        I am a Web-Developer,
        <a class="ext-link" href="">
          Newbie Music Artist<span class="text-sm material-symbols-rounded">attach_file</span>
        </a>
        Data Science Enthusiast
      </p>
    <h5 class="text-base lg:text-2xl">
      <span class="brck">{{ "}" }}</span>
    </h5>
  </div>
  <div class="col-span-full md:col-span-1 profImg flex">
    <img src="/assets/images/profile.jpg" alt="" />
  </div>
</div>
