<div class="p-2">
  <h2 class="text-3xl md:text-5xl lg:text-7xl text-theme w-fit"><span class="text-theme-secondary">&commat;</span>Introduction</h2>

  <!-- Highlights -->
  <section class="flex flex-col mt-5 md:mt-7 lg:mt-10 lg:flex-row gap-5 h-min">
    <div class="flex flex-col mt-8 lg:my-0">
      <h1 class="text-center text-7xl lg:text-9xl outlined-text">Hi I'm</h1>
      <h1 class="my-2 text-center text-7xl lg:text-9xl text-theme _grid">Ruturaj</h1>
      <p class="my-4 text-theme flex items-center justify-center gap-3">
        <span class="material-symbols-rounded">home_pin</span> From India 🇮🇳
      </p>
      <h4 class="my-4 text-center text-base lg:text-xl text-theme">
        <span class="text-nowrap mx-2 inline-flex items-center gap-2">
          <span class="material-symbols-rounded">webhook</span>
          Full Stack Developer
        </span>
        <span class="text-nowrap mx-2 inline-flex items-center gap-2">
          <span class="material-symbols-rounded">bubble_chart</span>
          Data Science Enthusiast
        </span>
        <span class="text-nowrap mx-2 inline-flex items-center gap-2">
          <span class="material-symbols-rounded">comedy_mask</span>
          Avid Anime Watcher
        </span>
      </h4>
      <p class="my-2 text-center text-theme">Committed to satiate my curiosity by continuous learning</p>
      <div class="grid grid-cols-3 mt-5 lg:mt-10 place-items-center gap-2">
        <div class="flex flex-col items-center gap-3">
          <h2 class="w-fit text-5xl lg:text-7xl outlined-text animate-bounce">{{ personal.age }}</h2>
          <h2 class="w-fit text-xl text-theme-secondary">Age</h2>
        </div>
        <div class="flex flex-col items-center gap-3">
          <h2 class="w-fit text-5xl lg:text-7xl outlined-text animate-bounce">{{ personal.experience }}</h2>
          <h2 class="w-fit text-xl text-theme-secondary">Yrs/Exp.</h2>
        </div>
        <div class="flex flex-col items-center gap-3">
          <h2 class="w-fit text-5xl lg:text-7xl outlined-text animate-bounce">{{ personal.orgs }}</h2>
          <h2 class="w-fit text-xl text-theme-secondary">Orgs.</h2>
        </div>
      </div>
    </div>
    <div class="-order-1 lg:order-1 lg:ms-auto flex items-center justify-center _grid">
      <img class="w-[16rem] lg:w-[30rem] aspect-[383/547] drop-shadow-xl" src="../../../assets/images/toji.png" alt="" />
    </div>
  </section> 
  <!-- Education -->
  <section></section>
</div>
