<div class="grid grid-cols-1 md:grid-cols-3">
  <div class="flex flex-col col-span-full md:col-span-2">
    <h1 class="titantron mt-10 ml-8"><span class="font-[inherit]">Hello I'm</span><span class="gradient">Ruturaj</span></h1>
    <h5 class="font-extralight text-lg lg:text-2xl mt-10 md:mt-[4.5rem]">
      <span class="brck">{{ "@Intro" }}</span
      ><span class="str">{{ "`MyIntro`" }}</span
      ><span class="brck">{{ "{" }}</span>
    </h5>
    <p class="pl-5 font-thin text-slate-300 text-base lg:text-lg">
      I am a Web-Developer,
      <a class="ext-link" href="#">Newbie Music Artist</a>, <a class="ext-link" href="#">Data Science Enthusiast</a>
    </p>
    <p class="mt-7 md:mt-10 pl-5 font-thin text-slate-300 text-base lg:text-lg">
      Rolling back to my childhood, I once encountered a problem in my computer while playing a video game. Trying to fix this made me curious exploring the world of electronics.
    </p>
    <p class="mt-7 md:mt-10 pl-5 font-thin text-slate-300 text-base lg:text-lg">
      This in turn made me curious about computers and programming. Later the interface of the banking websites made me learn web development and then I kept exploring other
      fields. Till date I've been exploring this field and it amazes me every single day.
    </p>
    <p class="mt-7 md:mt-10 pl-5 font-thin text-slate-300 text-base lg:text-lg">
      Finally I would like to say to this computer world: <br /><a (click)="funPrank($event)" data-tooltip="Don't click me!!" class="tool-tip-link" href="#"
        >"Never gonna give you up"</a
      >
    </p>
    <h5 class="text-base lg:text-2xl">
      <span class="brck">{{ "}" }}</span>
    </h5>
  </div>
  <div class="mt-5 md:mt-0 col-span-full md:col-span-1 profImg flex">
    <img src="/assets/images/profile.jpg" alt="" />
  </div>
</div>
<dialog class="dialog outline-none h-screen w-full bg-transparent" #dialog role="alert">
  <div class="relative px-8 flex flex-col py-2 w-[calc(100%-2rem)] min-h-[15rem] md:w-3/4 lg:w-1/2 bg-slate-100 m-auto rounded-3xl">
    @if (videoEnded) {
    <button (click)="closeModal()" class="close-btn absolute top-3 right-4">
      <span class="material-symbols-rounded font-extralight text-3xl"> close </span>
    </button>
    <img class="w-40 aspect-square mx-auto my-10 no-drag drop-shadow-md" src="/assets/images/warning-sign.png" alt="" />
    <h2 class="my-5 px-3 py-1 rounded text-xl text-center bg-emerald-500 bg-opacity-40">Hey told you to follow the rules!! 😂</h2>
    } @else {
    <video style="width: 100%; aspect-ratio: 16/9; margin-block: 2.7rem; border-radius: 25px" src="assets/images/prank.mp4"></video>
    }
  </div>
</dialog>
