@import "../../../imports.css";
.projects {
  @apply p-3 w-screen h-28 flex fixed top-0 left-0 overflow-x-auto gap-x-4;
}
.projects::-webkit-scrollbar {
  display: none;
}
.project-detail {
  --x: 20px;
  --y: 20px;
  --width: 0px;
  width: calc(100% - 1rem);
  height: calc(100vh - 8rem);
  @apply rounded-2xl relative mt-[6.5rem] p-8 overflow-hidden mx-auto;
}
.project-detail:hover::before {
  opacity: 1;
}
.project-detail::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  background: radial-gradient(
    var(--width) circle at var(--x) var(--y),
    rgba(52, 211, 153, 0.1),
    transparent 60%
  );
  z-index: -1;
}
.divider {
  background-color: #656262;
  height: 1px;
  width: 75%;
}
.project {
  transition-property: color, background-color, border;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  @apply relative border border-transparent rounded-md font-light w-40 flex flex-col items-center justify-center px-4 py-3 gap-2 bg-slate-300 hover:bg-slate-300;
}
.project.selected {
  @apply text-emerald-400 border-emerald-400;
}
.indicator {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  height: 3rem;
  width: 3rem;
  filter: blur(18px);
  opacity: 0;
  visibility: hidden;
  background-color: #34d399;
  transition-property: opacity, visibility;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
.project.selected .indicator {
  @apply opacity-100 visible;
}

.project span {
  @apply block;
}
.project .icon {
  @apply text-4xl;
}
.title {
  @apply w-full text-xs text-ellipsis overflow-hidden whitespace-nowrap;
}
.custom-ul {
  text-decoration: underline;
  text-underline-offset: 0.35rem;
  text-decoration-color: #34d399;
  text-decoration-thickness: 2px;
}
