.dull{
    opacity: 0.35;
    filter: blur(15px);
    user-select: none;
}
.main-container{
    transition-property: filter, opacity;
   @apply px-3 py-2 duration-1000 ease-in-out min-h-screen w-screen;
}